// ===========
// Proyecto:
// Fecha Inicio:
// Email Desarrollador:
// ===========

@import "./../inc/variables";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.main {
	padding-top: 58px;
	padding-bottom: 40px;

	&_left {
		position: fixed;
        top: 58px;
        bottom: 40px;
        width: 100%;
		max-width: 180px;
		background-color: $color-black-light;
	}
	&_right {
		margin-left: 180px;
	}
}