// ===========
// Proyecto:
// Fecha Inicio:
// Email Desarrollador:
// ===========

@import "../inc/variables";

.hd {
	font-size: 0;
	background-color: $color-black-light;

	&-fixed {
		position: fixed;
		width: 100%;
	}
}
